
* {
  background: #212121;
  color: whitesmoke;
}

body {
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  border-radius: 0.1rem;
}

.toggleButton{
  position: fixed;
  right: 1rem;
  top: 1rem;
  color: blue;
}