.rounded{
  border-radius: 0.3rem;
}

.box-shadow{
   box-shadow: 2px 2px 5px #787474;
}

#form {
  width: auto;
  display: flex;
  flex-direction: column;  

  & label{
    margin: 0.4rem;
    padding: 0.3rem 0.2rem;
  }
  & input{
    margin: 0.4rem;
    padding: 0.3rem 0.2rem;
  }
  & div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.4rem;
  }
  & input[type="submit"]{
    margin: 0.4rem;
  }
}